<ion-view view-title="User">
	<ion-content>
		<div class="list card">
			<div class="item item-input">
				<input type="text" ng-model="user.name"/>
			</div>
			<div class="item item-input">
				<input type="text" ng-model="user.age"/>
			</div>
			<div class="item item-input item-select">
				<div class="input-label">
			    Gender
			  </div>
			  <select type="text" ng-model="user.gender">
					<option value="man" selected="">Male</option>
					<option value="woman">Female</option>
				</select>
			</div>
			<div class="item item-input">
				<input type="text" ng-model="user.nationality"/>
			</div>
			<div class="padding">
				<button class="button button-block button-positive" ng-click="save()">Save</button>
			</div>
		</div>
	</ion-content>
</ion-view>